---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if page.url %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.data.lastUpdated or "2026-03-23" }}</lastmod>
    {%- if page.url == "/" %}
    <priority>1.0</priority>
    <changefreq>weekly</changefreq>
    {%- elif page.data.tags and ("review" in page.data.tags or "roundup" in page.data.tags) %}
    <priority>0.8</priority>
    <changefreq>monthly</changefreq>
    {%- else %}
    <priority>0.5</priority>
    <changefreq>monthly</changefreq>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
